# fly.toml app configuration file generated for jonas-exam-api on 2025-12-18T22:32:26+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jonas-exam-api'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[env]
  ASPNETCORE_ENVIRONMENT = "Production"
  Jwt__Issuer = "JonasJerneIF"
  Jwt__Audience = "JonasJerneIF-Users"
  Jwt__ExpiryInMinutes = "60"
  Smtp__Host = "smtp.gmail.com"
  Smtp__Port = "587"
  Smtp__EnableSsl = "true"
  Smtp__FromDisplayName = "JerneIfExam"